*html, _html{background-image:url(about:blank); background-attachment:fixed;min-height:100%;}
* {border:none; padding:0; margin:0;-webkit-tap-highlight-color:rgba(255,0,0,0);cursor:pointer;}
body, button, input, select, textarea, h2{font:12px/100% 'Helvetica Neue',Helvetica, sans-serif, 'Microsoft Yahei', '\5B8B\4F53', Tahoma, sans-serif; outline:none; font-size:0.26rem;}
html{min-height:100%;}
body {min-height:100%;color:#181818;background:#fff;font-size:0.26rem;line-height:0.36rem;}
*, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html.scroll,body.scroll{position:fixed;left:0;top:0;width:100%;}

*{}




a{text-decoration:none;color:#181818;outline:none;display:inline-block;text-align:center;}
a:hover{text-decoration:none;}
button{cursor:pointer;}
input{outline:none;color:#181818;border:0;border-radius:0;-webkit-border-radius:0;cursor:pointer;appearance:none;-webkit-appearance:none;}
input[type='number']{-moz-appearance:textfield;}
input[type=number]::inner-spin-button,
input[type=number]::outer-spin-button{appearance:none;margin:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle; display:inline-block;width:100%;}
table{border-collapse:collapse;border-spacing:0;}
ul, ul li, p, dl, dl dd{list-style:none;} 
em, i{font-style:normal;}
.clearfix:after, .clear:before{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfix:after{zoom:1}

.center{margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.tar{text-align:right;}
.tal{text-align:left;}
.tac{text-align:center;}
.clr{clear:both; height:0px; display:block;}
.radius{border-radius:50%;-webkit-border-radius:50%;}
.radius10{border-radius:0.1rem;-webkit-border-radius:0.1rem;}
.radius20{border-radius:0.2rem;-webkit-border-radius:0.2rem;}
.radius45{border-radius:0.45rem;-webkit-border-radius:0.45rem;}
.radius50{border-radius:0.5rem;-webkit-border-radius:0.5rem;}
em{display:inline-block;}

/*p{display: -webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;height:30px;overflow:hidden;}*/

/*右边浮动菜单*/
#float_nav{
	width:1.6rem;
    position:fixed;
    top:100px;
    right:10px;
    z-index:9999;
}
#float_nav a{
	display:block;
    width:1.6rem;
    height:2.3rem;
    margin-bottom:0.2rem;
    background:#f90;
    color:#fff;
    position:relative;
    background:url(../images/icon_nav.png) no-repeat;
    background-size:100% 100%;
    -webkit-background-size:100% 100%;
}
#float_nav a:nth-child(4){
	background:#66c753;
}
#float_nav a p{
	font-size:0.34rem;
	line-height:0.4rem;
}
#float_nav a i{
	display:inline-block;
    width:0.9rem;
    height:0.9rem;
    background:url(../images/icon_nav01.png) no-repeat;
    background-size:100% 100%;
    -webkit-background-size:100% 100%;
    /*margin-top:13px;*/
}

/*#float_nav a:nth-child(2) i{
    background-image:url(../images/icon_nav02.png);
}
#float_nav a:nth-child(3) i{
    background-image:url(../images/icon_nav03.png);
}
#float_nav a:nth-child(4) i{
    background-image:url(../images/icon_nav04.png);
}*/
@keyframes scaleDraw {  
    0%{
        transform: scale(0.8);  
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    75%{
        transform: scale(1);
    }
}
.ballon{
    -webkit-animation-name: scaleDraw; /*关键帧名称*/
    -webkit-animation-timing-function: ease; /*动画的速度曲线*/
    -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
    -webkit-animation-duration:1s; /*动画所花费的时间*/
   -webkit-animation-direction:alternate;
}

#float_nav a .meau{
	display:none;
	color:#fff;
	background:#f90;
	width:270px;
	position:absolute;
	right:80px;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
/*#float_nav a:hover .meau{
	display:block;
}
#float_nav a .meau:before{
	display:block;
	content:"";
	width:10px;
	height:10px;
	background:transparent;
	border-left:10px solid #f90;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:10px solid transparent;
	position:absolute;
	right:-20px;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
#float_nav a .meau li{
	padding:10px 10px 0 10px;
	position:relative;
}
#float_nav a .meau li:before{
	display:block;
	content:"";
	width:32px;
	height:32px;
	background:url(../images/icon_nav02.png) no-repeat;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	position:absolute;
	left:15px;
	bottom:20px;
}
#float_nav a .meau p{
	text-align:left;
	font-size:14px;
    line-height:18px;
    padding-left:50px;
}
#float_nav a .meau p:last-child{
	font-size:24px;
	line-height:34px;
	border-bottom:1px solid #ffae34;
    padding-bottom:12px;
}*/



/*底部广告条*/
#index,#product{
	padding-bottom:0;
}
#index.active,#product.active{
	padding-bottom:3.16rem;
}
#footer_ad{
	width:100%;
	background:#008cff;
	padding:0.32rem 0.5rem 0.22rem 0.5rem;
	position:fixed;
	left:0;
	bottom:0;
}
#footer_ad img{
	width:5.48rem;
}
#footer_ad .info{
	margin:0.2rem 0 0.15rem 0;
}
#footer_ad input{
	width:3.45rem;
	font-size:0.38rem;
	line-height:0.48rem;
	border:1px solid #d2d2d2;
	padding:0.2rem 0.25rem;
}
#footer_ad input.phone{
	margin-left:0.2rem;
}
#footer_ad .info ::-webkit-input-placeholder { /* WebKit browsers */  
    color:#848282;  
}  
#footer_ad .info  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
   color:#848282;  
}  
#footer_ad .info  ::-moz-placeholder { /* Mozilla Firefox 19+ */  
   color:#848282;   
}  
#footer_ad .info  :-ms-input-placeholder { /* Internet Explorer 10+ */  
   color:#848282;  
} 
#footer_ad a.submit{
	width:2.5rem;
	font-size:0.38rem;
	line-height:0.9rem;
	color:#fff;
	background:#ff6e39;
}
#footer_ad p{
	text-align:left;
	color:#fff;
	font-size:0.32rem;
	line-height:0.42rem;
}
#footer_ad a.close{
	width:0.5rem;
	height:0.5rem;
	background:url(../images/ad_close.png) no-repeat;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	position:absolute;
	right:0.15rem;
	top:0.15rem;
}