/*底部*/
footer{
	text-align:center;
	font-size:0.3rem;
	line-height:0.52rem;
	color:#A1A1A1;
	background:#EFEFEF;
	padding:0.28rem 0 0.23rem;
}
footer.active{
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
}